.person {
    border: 1px solid #faff9a;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.person:hover {
    background-color: #f2f2f2;
}

.status-0{
    background-color: gold;
}

.status-1{
    background-color: lightyellow;
}